
.topBar {
    padding: 15px;
}
.jewel{
    display: flex;
}
.original-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    .menu-endBig{
        margin-top: 5px;
    }
    .nav-left{
        display: flex;
        flex-flow: left;
    }
    .brand{
        margin-top: 10px;
        align-items: left;
    }
    .menu-middle ul{
        display: flex;
        flex-direction: row;
        .navigation{
            display: none;
        }
    }
    .menu-end{
        margin-top: 5px;
        display: none;
    }
    .dropdown-menu{
        position: relative;
    }
    .flex-none{
        height: auto;
        width: 150%;
        position: absolute;
        justify-items: flex-start;
    }
}
.original-menu ul{
    list-style: none;
}
.topBar a {
font-size: 20px;
text-decoration: none;
padding-left: 20px;
}
.topBar a:hover {
color: gray;
}

@media only screen and (max-width: 920px) {
    .mainNavBar{
        .original-menu{
            display: unset;
            .menu-endBig{
                display: none;
            }
            .nav-left{
                display: flex;
                justify-content: space-between;
                text-align:left;
            }
            .p-inputswitch {
                width: 3rem;
                height: 0.75rem;
            }
            .menu-middle ul{
                display: unset;
                .navigation {
                    text-align: right;
                    display: block;
                    cursor: pointer;
                    transition: all 1s ease-out;
                }
                .navigation i{
                    font-size: 20px;
                }
                .hiddenMainNav{
                    display: none !important;
                }
                .showMainNav{
                    display: block;
                }
                .jewel{
                    display: unset;
                }
            }
            .menu-end{
                display: unset;
            }
            .dropdown-menu{
                text-align: left;
            }
            .flex-none{
                position:unset;

            }
        }

    }

}