$whiteColor: white;
$blackColor: black;
$grayColor: gray;
$roundBorder: 7px;
.mainNavBar{
    font-weight: 100;
}
.dark{
    box-sizing: border-box;
    background: $blackColor;
    color: $whiteColor;
    .showMainNav {
        background-color: $blackColor;
        border-radius: $roundBorder;
    }
    a:visited {
        color: $whiteColor;
    }
    a:hover{
        color: $grayColor;
    }
    .flex-none {
        background: $blackColor;
    }
    .profileDescrip{
        background: $blackColor;
        color: $whiteColor;
    }
    .profileList{
        background-color: $blackColor;
        padding-bottom: 10px;
        color: $whiteColor;
    }
    .profileList ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size:larger;
    }
    .profileList ul li a{
        text-decoration: none;
    }


    .p-overlaypanel-content{
        background-color: $blackColor;
        border: 1px solid $whiteColor;
        border-radius: $roundBorder;
    }
    .p-dropdown{
        background-color: $blackColor;
    }
    .p-dropdown:not(.p-disabled):hover {
        border-color: $whiteColor;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        border-color: $whiteColor;
        box-shadow: none;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        color: $whiteColor;
    }
    .p-dropdown-items-wrapper {
        background: $blackColor;
        border: 1px solid $whiteColor;
        border-radius: $roundBorder;
    }
    .p-dropdown .p-dropdown-label{
        color: $whiteColor;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
        background-color: $blackColor;
    }
    .p-icon{
        color: $whiteColor;
    }
}
.light{
    box-sizing: border-box;
    background: $whiteColor;
    color: $blackColor;
    .showMainNav{
        background-color: $whiteColor;
        border-radius: $roundBorder;
    } 
    a:visited {
        color: $blackColor;
    }
    a:hover{
        color: $grayColor;
    }
    .flex-none {
        background: $whiteColor;
    }
    .profileList{
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .profileList ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size:larger;
    }
    .profileList ul li a{
        text-decoration: none;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        border-color: $blackColor;
        box-shadow: none;
    }
}
